.stock-item{
    border-bottom: 1px solid lightgray;
    cursor:pointer;
}

.stock-item__name{
    font-size:1.2em;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.stock-item__name-stop-reached{
    color:#EF5350;
}

.stock-item__secondary-information{
    font-size:0.5em;
}

.stock-item__current-rate{
    font-size:1.0em;
}

.stock-item__change{
    font-size:1.2em;
    color:white;
    margin-top:5px;
}

.stock-item__change-background-positive{
    background:#9CCC65;
}

.stock-item__change-background-negative{
    background:#EF5350;
}
