<div>
  <div class='list-group'>
    <div class='stock-item list-group-item' *ngFor="let stockItem of stocks;">
      <div class='row'>
        <div class='col-md-4'>
          <div class='stock-item__name'>
            {{stockItem.name}}
          </div>
          <div class='stock-item__secondary-information'>
            <div class='col-md-4'>
              {{stockItem.symbol}}
            </div>
            <div class='col-md-6 stock-item__secondary-information'>
              {{stockItem.lastTradingDate | date:'d. MMM, y HH:mm'}}
            </div>
          </div>
        </div>
        <div class='col-md-1 stock-item__current-rate'>
          {{stockItem.currentRate | number:'1.2-2'}}
        </div>
        <div class='col-md-2 stock-item__change' [ngClass]='stockItem.isPositive? "stock-item__change-positive" : "stock-item__change-negative"'>
          {{stockItem.isPositive ? " + " : " - "}}{{stockItem.dailyChangeInPercent | number:'1.2-2'}} %
        </div>
      </div>
    </div>
  </div>
</div>