<div class='container no-gutters stock-list'>
  <div class='row stock-item no-gutters' *ngFor='let stockItem of stockService.stocks;'
    (click)='this.router.navigateByUrl("/stock-item/" + stockItem.symbol);'>
    <div class='col-5'>
      <div class='row no-gutters'>
        <div class='col stock-item__name'
             [ngClass]='stockItem.isStopRateReached ? "stock-item__name-stop-reached" : ""'>
          {{stockItem.name}}
        </div>
      </div>
      <div class='row no-gutters'>
        <div class='col-3 stock-item__secondary-information'>
          {{stockItem.symbol}}
        </div>
        <div class='col-9 stock-item__secondary-information text-right'>
            {{stockItem.lastTradingDate | date:'EEEE, HH:mm'}}
        </div>
      </div>
    </div>
    <div class='col-3 stock-item__current-rate text-center align-self-center'>
        {{stockItem.currentRate | number:'1.2-2'}}
    </div>
    <div class='col-4' [ngClass]='stockItem.isPositive ? "stock-item__change-background-positive" : "stock-item__change-background-negative"'>
        <div class='stock-item__change text-center'>
            {{stockItem.isPositive ? " + " : " - "}}{{stockItem.dailyChangeInPercentAbsolute | number:'1.2-2'}} %
        </div>
    </div>
  </div>
</div>
<a routerLink="/add-stock-item">
  <div class='btn btn-primary float-right stock-list__add-button'>Add
  </div>
</a>

