.stock-list{
    width:100%;
    padding:5px;
}

.stock-list__on-watch-list{
    font-size:1.2em;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    color:gray;
}

.stock-list__add-button{
    margin:5px;
}

